@import '../../../style/variables.scss';

.Header{
    height: 100vh;
    position: relative;
    top: 0;
    background-color: black;
    width: 100%;
}



.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: -100px;
    .left{
        flex:5;
        color: white;
     
        p{
            opacity: .6;
        }
     
    }
    .right{
        flex:1;
        width: 800px;
        margin-left: -150px;

    }
}

.button{
    background-color: $baseRed !important;
    color: white !important;
    margin-top: 20px !important;
    padding: 8px 25px !important;
}

.nav{
    margin: 0 100px;;
    height: 90px;
    display: flex;
    align-items: center;
}