@import '../../../style/variables.scss';

.Header{
    height: 100vh;
    position: relative;
    top: 0;
    background-color: black;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 100px;
    h6{
        margin-left: 10px;
        font-weight: bold;
        font-size: 24px;
        color: $baseRed;
    }
}

.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    width: 80%;
    margin: auto;
    .left{
        flex:5;
        color: white;
     
        p{
            opacity: .6;
        }
     
    }
    .right{
        flex:1;
        width: 800px;
        margin-left: -150px;

    }
}

.button{
    background-color: $baseRed !important;
    color: white !important;
    margin-top: 10px !important;
}