@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700&display=swap');
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-size: 18px;
  line-height: 1.7  ;
  font-family: 'Open Sans';
}
h1,h2,h3,h4{
  font-family: "Montserrat";
  font-weight: 600;
}

